**/.claude/

# python
__pycache__/

# Experiments
*.log
*.json
*.pth
*.model
**/checkpoint/
*.csv
*.ipynb
FuxiCTR_3/model_zoo/LongCTR/config/temp_config/

# Dataset
FuxiCTR_3/data/
redkiwi_raw/
seqCTR_dataset/
